<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>angular directive 添加指令</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<script type="text/javascript" src="https://code.angularjs.org/1.2.0-rc.2/angular.js"></script>
	<script type="text/javascript">
		var myApp = angular.module('myApp', []);
		myApp.directive("myDirective",function(){
			return {
				restrict: 'A',
				replace: true,
				scope: {
				  myUrl: '=someAttr', // 经过了修改
				  myLinkText: '@'
				},
				template: '<div><label>My Url Field:</label><input type="text" ng-model="myUrl" /><a href="{{myUrl}}">{{myLinkText}}</a></div>'
				};
		})
	</script>
</head>
<body>
	<div ng-app="myApp" class="container">
		<label>Their URL field:</label>
		<input type="text" ng-model="theirUrl">
		<div my-directive some-attr="theirUrl" my-link-text="Click me to go to Google"></div>
	</div>
</body>
</html>