<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的笔记</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<script type="text/javascript" src="../js/angular.js"></script>
	<script type="text/javascript">
		var myApp = angular.module('myApp', []);
		myApp.controller("myContro",function($scope){
			$scope.message = "";
			$scope.num = function(){
				var num = 100 - $scope.message.length;
				if (num < 0) {
					num = 0;
					 $scope.message = $scope.message.substr(0,100);
				};
				return num;
			}
			$scope.save = function(){
				alert("保存成功");
				// 发送数据什么的。。。
			}
			$scope.default = function(){
				$scope.message = "";
			}
		})
	</script>
</head>
<body>
	<div class="container" ng-app="myApp" ng-controller="myContro">
		<textarea cols="40" rows="10" ng-model="message">
			
		</textarea>
		<h1 ng-bind="num()"></h1>
		<button ng-click="save()" class="btn btn-primary">保存</button>
		<button ng-click="default()" class="btn btn-default">清空</button>
	</div>
</body>
</html>